/* Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Kufi Arabic", sans-serif;
}
:root {
  --color1: #fda804;
}
::selection {
  background-color: var(--color1);
  color: #fff;
}
/* Puy Course */
.puy-course {
  width: 350px;
  padding: 20px 30px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  animation: showMenu 0.4s ease-in-out forwards;
  display: none;
  -webkit-animation: showMenu 0.4s ease-in-out forwards;
}
@keyframes showMenu {
  to {
    left: 0;
  }
}
@keyframes closeMenu {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
.puy-course i {
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 35px;
  color: #666666;
  cursor: pointer;
}
/* Header */
/* Up NavBar  */
header .up {
  display: flex;
  justify-content: space-between;
  height: 22px;
  background-color: #000;
  padding: 0 6%;
}
header .up h1 {
  font-size: 12px;
  font-weight: 700;
  color: var(--color1);
}
header .up > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10%;
}
header .up div span,
header .up div i {
  font-size: 10px;
  font-weight: bold;
  background-color: var(--color1);
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-right: 15px;
}
header .up div i:nth-of-type(1) {
  font-size: 22px;
  color: var(--color1);
  background-color: transparent;
}
/* Logo Section */
header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  max-height: 188px;
  padding: 0 65px;
}
header section .social i {
  transition: all 0.3s ease-in-out;
}
header section i,
footer .social i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
img {
  width: 27%;
}
@media (max-width: 766px) {
  img {
    width: 75%;
  }
  header section {
    padding: 20px;
  }
}
/* Nav Bar */
header nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
header nav ul,
header nav .cart {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
a:hover,
header section .social i:hover,
footer .social i:hover {
  color: var(--color1);
}
header nav a {
  padding: 5px 20px;
}
header nav .cart > i {
  font-size: 25px;
  margin-right: 10px;
}
header nav .cart a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.bar {
  display: none;
}
.hidden {
  display: none;
}
@media (max-width: 991px) {
  header nav .cart {
    margin-right: 30px;
  }
  header nav ul {
    display: none;
  }
  .bar {
    display: block;
    font-size: 40px;
  }
  header nav .bars {
    position: absolute;
    right: 0;
    left: 0;
    top: 60px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  header nav .bars .list ol {
    list-style: none;
    background-color: #fff;
    width: 100%;
    height: 220px;
    margin-top: 10px;
    border: 0.1px solid #ffffff00;
  }
  header nav .bars .list ol li {
    padding: 3px 5px;
    transition: all 0.3s ease-in-out;
  }
  header nav .bars .list ol li a {
    color: #000;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
  }
  header nav .bars .list ol li:hover,
  .active {
    background-color: #3a3838;
  }
  header nav .bars .list ol li:hover a,
  .active a {
    color: #fff !important;
  }
}
/* Banner */
header .banner {
  background-color: #00000077;
  background-image: url(../images/banner25.jpg);
  width: 100%;
  height: 565px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .banner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
header .banner .content h2 {
  font-size: 55px;
  font-weight: 600;
}
header .banner .content p {
  font-size: 15px;
  text-align: center;
}
header .banner .content .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 40px;
  width: 50%;
  border: 3px solid transparent;
}
header .banner .content .search input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  padding: 5px 10px;
  font-style: italic;
}
header .banner .content .search:focus-within {
  border-color: var(--color1);
}
header .banner .content .search .icon {
  cursor: pointer;
  width: 10%;
  height: 100%;
  background-color: var(--color1);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
@media (max-width: 767px) {
  header .banner {
    height: 400px;
  }
  header .banner .content {
    padding: 10px;
  }
  header .banner .content h2 {
    font-size: 31px;
  }
  header .banner .content .search {
    height: 55px;
    width: 100%;
  }
  header .banner .content .search .icon {
    width: 15%;
  }
  header .banner .content .search input {
    width: 85%;
  }
}
/* Main */
main {
  width: 100%;
  padding: 100px 50px;
}
main h2 {
  color: var(--color1);
  font-size: 19px;
  margin-bottom: 40px;
  text-align: center;
}
main .courses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
main .courses > div {
  position: relative;
  width: 225px;
  height: 450px;
  margin-bottom: 35px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px #eee, -1px -1px 1px 1px #eee;
}
main .courses > div .img {
  width: 225px;
  height: 224px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
main .courses > div .img .logo img {
  width: 225px;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .courses > div .img .read-more {
  background-color: var(--color1);
  padding: 12px 15px 0;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
main .courses > div .img .read-more a {
  color: #000;
  display: block;
}
main .courses > div .img .logo {
  overflow: hidden;
  width: 252px;
  height: 230px;
}
main .courses > div .img .logo:hover img {
  scale: 1.05;
}
main .courses > div .img:hover .read-more {
  display: block;
}
main .courses > div .read-more:hover {
  background-color: #af790c;
}
main .courses > div .img .alt-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
main .courses > div .img .alt-logo img {
  width: 100%;
}
main .courses > div a h5 {
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  transition: all 0.3s ease-in-out;
}
main .courses > div a h5:hover {
  text-decoration: underline;
  font-weight: bold;
}
main .courses > div a p {
  font-size: 16px;
  color: #000;
  transition: all 0.3s ease-in-out;
}
main .courses > div a p:hover {
  color: var(--color1);
}
main .courses > div a:has(h5, p) {
  display: block;
  text-align: center;
}
main .courses > div a:nth-of-type(1):has(h5) {
  padding-top: 40px;
}
main .courses > div a:nth-of-type(2) {
  font-weight: bold;
}
main .courses > div .detalies {
  border-top: 1px solid #eee;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  padding-top: 10px;
  font-size: 15px;
  color: #666666;
  justify-content: space-around;
  font-weight: bold;
}
main .courses > div .detalies::after {
  width: 30px;
  height: 4px;
  background-color: var(--color1);
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
}
main .courses > div .detalies .price del {
  opacity: 0.6;
  margin-left: 10px;
}
main .courses > div .detalies .price span {
  color: orangered;
}
@media (max-width: 767px) {
  main .courses {
    justify-content: center;
  }
}
/* Footer */
footer {
  background-color: #eeeeee8f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
footer .media p {
  font-weight: bolder;
  text-align: center;
  font-size: 25px;
}
footer .info .imge img {
  width: 35%;
}
footer .info .information {
  font-size: 12px;
  width: 50%;
}
@media screen and (max-width: 992px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 50px;
  }
  footer .information {
    margin-top: 30px;
    width: 100% !important;
  }
}
/* Pay */
.pay {
  text-align: center;
  padding: 10px;
}
.copy {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  padding-top: 0;
}
